# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#using-environment-variables

# Prisma supports the native connection string format for PostgreSQL, MySQL and SQLite.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

JWT_SIGNATURE=secret123456789
FRONTEND_URL=http://localhost:3000
API_URL=
PORT=3300

#Database cred
DATABASE_HOST=
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_PORT=5432
DATABASE_NAME=nest-boilerplate-db

# Aws credentials
AWS_ACCESS_KEY=
AWS_SECRET_KEY=
AWS_REGION=
AWS_BUCKET=
AWS_LINK_EXPIRES=
SOURCE_EMAIL=
AWS_S3_URL=
AWS_SESSION_TOKEN=

INFO_EMAIL=

#Redis cred
REDIS_HOST=
REDIS_PORT=
REDIS_EXPIRE=3600

#salesforce cred
SF_CONSUMER_KEY=
SF_CONSUMER_SECRET=
REDIRECT_URI=

FRONTEND_SSO_REDIRECT_PATH=

VALIDATE_DISPOSABLE_EMAIL=

MAX_API_LIMIT=
